/* MAIN CSS */
/*------------------------------------------------------
>>> TABLE OF CONTENTS
/*------------------------------------------------------
0.0 THEME COLORS
  0.1 Color Variables

1.0 BASIC STYLES
  1.1 Main Elements
  1.2 Buttons and Forms
  1.3 Images and Blurbs

2.0 PAGE NAVI
  2.1 Main Nav
  2.2 Hamburger Nav

3.0 MAIN LAYOUT INFO
  3.1 AVATAR Picture

4.0 FOOTER
  4.1 Footer Credits

5.0 DESKTOP RESPONSIVE
  5.1 @media only screen and (max-width: 1083px)

6.0 MOBILE RESPONSIVE
  6.1 @media only screen and (max-width: 991px)
  6.2 @media only screen and (max-width: 768px)
  6.3 @media only screen and (max-width: 600px)
  6.4 @media only screen and (max-width: 531px)
  6.5 @media only screen and (max-width: 420px)
  6.6 @media only screen and (max-width: 330px)
/*------------------------------------------------------*/
/*--------------[ 0.0 THEME COLORS ]--------------------*/
/*------------------------------------------------------*/
/* 0.1 Color Variables
/*------------------------------------------------------*/
:root {
    --accent-text: #0092CA;
    --primary-menu-background: #52616B;
    --secondary-menu-text: #F0F5F9;
    --secondary-menu-background: rgba(0, 0, 0, 0.8);
    --body-text: #1E2022;
    --body-background: #F0F5F9;
    --button-text: #C9D6Df;
    --button-background: #1E2022;
    --cool-red: #E9290F;
    --footer-hover-text: rgba(233, 41, 15, .9);
}

/*------------------------------------------------------*/
/*--------------[ 1.0 BASIC STYLES ]--------------------*/
/*------------------------------------------------------*/
/* 1.1 Main Elements
/*------------------------------------------------------*/
html,
body {
    height: 100%;
    margin: 0;
}

/** STICKY FOOTER 
 * section margin 50px + footer height 54px = 104px
 */
.content-wrapper {
    min-height: calc(100vh - 104px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu";
    font-weight: 900;
    color: var(--accent-text);
}

body.page-template {
    font-family: "Ubuntu";
    color: var(--body-text);
    background-color: var(--body-background);
}

.container-fluid {
    padding: 0px 30px;
}

.row {
    margin: 0 auto;
    padding: 15px 0px;
}

.first-row {
    padding-bottom: 0px;
}

section.section-block {
    margin: 0 auto;
    max-width: 1080px;
    background-color: #fff;
}

section.section-block#main-section {
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

li {
    list-style: none;
}

hr {
    border: solid 1px var(--body-text);
}

/* 1.2 Buttons and Forms
/*------------------------------------------------------*/
.btn-primary {
    font-size: 1.3em;
    color: var(--button-text);
    border-color: var(--button-background);
    background-color: var(--button-background);
}

.btn-primary:hover {
    color: #fff;
    border-color: var(--accent-text);
    background-color: var(--accent-text);
}

.form-control {
    background-color: var(--secondary-menu-text);
}

.contact-message {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#contact-form {
    width: 100%;
    margin: 0 auto;
}

#contact-form button.btn-primary {
    float: right;
}

/* 1.3 Images and Blurbs
/*------------------------------------------------------*/
.image_wrap {
    display: block;
    margin: auto;
    width: 100%;
}

.image_wrap img {
    max-width: 100%;
    max-height: 100%;
}

.image_overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1;
}

.image_overlay::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -16px 0 0 -16px;
    font-size: 32px;
    font-weight: 900;
    content: "\f35d";
    /* "\f00c"; */
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.module_header {
    color: #fff;
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: normal;
    padding: 15px;
    background-color: var(--accent-text);
}

.module_header:focus,
.module_header:hover,
.blurb_content a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.blurb_content a {
    color: #fff;
}

.blurb_content {
    position: relative;
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    margin-bottom: 30px;
}

.blurb_content .image_wrap img {
    min-height: 225px;
}

.blurb_content:hover .image_overlay {
    z-index: 3;
    opacity: 1;
}

.blurb_content .module_header {
    position: absolute;
    width: 100%;
    bottom: 5px;
}

/*------------------------------------------------------*/
/*--------------[ 2.0 PAGE NAVI ]-----------------------*/
/*------------------------------------------------------*/
/* 2.1 Main Nav
/*------------------------------------------------------*/
.navbar-light .navbar-nav .nav-link {
    font-size: 1.3em;
    font-weight: bolder;
    color: rgba(0, 146, 202, 0.6);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 146, 202, 0.8);
}

#main-nav.navbar-light .navbar-nav .nav-item:not(:first-child):not(:last-child) {
    border-left: solid 1px var(--button-text);
    border-right: solid 1px var(--button-text);
}

nav.navbar {
    padding-bottom: 0px;
    border-bottom: solid 2px var(--body-text);
    background-color: #fff;
    padding-top: 0px;
    margin-bottom: 45px;
}

nav.navbar .collapse {
    margin: 0 auto;
    max-width: 1080px;
}

.navbar-brand {
    color: #fff;
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: normal;
    padding: 20px 30px;
    background-color: var(--accent-text);
}

.navbar-light .navbar-brand {
    margin-bottom: 0px;
    color: #fff;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, .8);
}

/* 2.2 Hamburger Nav
/*------------------------------------------------------*/
.dark-blue-text {
    color: var(--accent-text);
}

#mobile-nav .nav-item {
    text-align: right;
}

/*------------------------------------------------------*/
/*--------------[ 3.0 MAIN LAYOUT INFO ]----------------*/
/*------------------------------------------------------*/
/* 3.1 AVATAR Picture
/*------------------------------------------------------*/
.avatar_image {
    float: left;
    margin: 0 20px 0 0;
}

.avatar_image .image_wrap {
    display: block;
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
    border: solid 6px var(--body-text);
    box-shadow: 0px 12px 18px -6px var(--primary-menu-background);
    border-radius: 50%;
}

#profile-picture,
.avatar_image .image_wrap img {
    max-width: 100%;
    height: auto;
}

.fa-linkedin {
    color: #0077B5;
}

/*------------------------------------------------------*/
/*--------------[ 4.0 FOOTER ]--------------------------*/
/*------------------------------------------------------*/
/* 4.1 Footer Credits
/*------------------------------------------------------*/
#main-footer {
    position: relative;
    height: 54px;
    color: var(--button-text);
    background-color: #000;
    text-align: center;
    margin: 0 auto;
    border-top: solid 10px var(--primary-menu-background);
}

#main-footer .footer-nav {
    position: relative;
    margin: 0 auto;
    max-width: 1080px;
}

#main-footer .footer-nav .container {
    position: relative;
    float: right;
    width: 250px;
    padding: 7px 0;
    z-index: 1;
}

ul.bottom-nav {
    float: right;
    margin: 0 auto;
    padding: 0;
}

ul.bottom-nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

#footer-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px 0px;
    z-index: 0;
}

.footer-link {
    color: var(--button-text);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
    color: var(--footer-hover-text);
}

/*------------------------------------------------------*/
/*--------------[ 5.0 DESKTOP RESPONSIVE ]--------------*/
/*------------------------------------------------------*/
/* 5.1 @media only screen and (max-width: 1083px)
/*------------------------------------------------------*/
@media only screen and (max-width: 1083px) {
    nav.navbar {
        padding-left: 0px;
    }

    #main-footer .footer-nav {
        padding-right: 5px;
    }

    #main-footer .footer-nav .container {
        width: auto;
    }
}

/*------------------------------------------------------*/
/*--------------[ 6.0 MOBILE RESPONSIVE ]---------------*/
/*------------------------------------------------------*/
/* 6.1 @media only screen and (max-width: 991px)
/*------------------------------------------------------*/
#mobile-nav {
    display: none;
}

@media only screen and (max-width: 991px) {
    #main-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    nav.navbar {
        background-color: var(--accent-text);
    }

    .navbar-light .navbar-toggler {
        border-color: var(--accent-text);
        color: #fff;
    }

    .navbar-light .navbar-nav .nav-link,
    .dark-blue-text {
        color: #fff;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--button-text);
    }
}

/* 6.2 @media only screen and (max-width: 768px)
/*------------------------------------------------------*/
@media only screen and (max-width: 768px) {

    /** STICKY FOOTER 
    * section margin 50px + footer height 83px = 133px
    */
    .content-wrapper {
        min-height: calc(100vh - 133px);
    }

    #main-footer {
        height: 83px;
    }

    #main-footer .footer-nav {
        padding-right: 0px;
    }

    #main-footer .footer-nav .container {
        float: none;
        width: 100%;
        max-width: 100%;
    }

    ul.bottom-nav {
        float: none;
    }
}

/* 6.3 @media only screen and (max-width: 600px)
/*------------------------------------------------------*/
@media only screen and (max-width: 600px) {

    /** STICKY FOOTER 
    * section margin 50px + footer height 107px = 157px
    */
    .content-wrapper {
        min-height: calc(100vh - 157px);
    }

    #main-footer {
        height: 107px;
    }

    #footer-bottom {
        padding: 10px 15px;
    }

}

/* 6.4 @media only screen and (max-width: 531px)
/*------------------------------------------------------*/
@media only screen and (max-width: 531px) {
    .navbar-brand {
        font-size: 2em;
    }
}


/* 6.5 @media only screen and (max-width: 420px)
/*------------------------------------------------------*/
@media only screen and (max-width: 420px) {
    .navbar-brand {
        font-size: 1.5em;
    }

    #page-title {
        margin: 0 auto;
    }

    .avatar_image {
        float: none;
        margin: 0 0 20px 0;
    }
}

/* 6.6 @media only screen and (max-width: 330px)
/*------------------------------------------------------*/
@media only screen and (max-width: 360px) {
    .navbar-brand {
        font-size: 1.2em;
    }
}